
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 4px;
	--theme-rounded-container: 4px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 255 255 255;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #757575 */
	--color-primary-50: 234 234 234; /* ⬅ #eaeaea */
	--color-primary-100: 227 227 227; /* ⬅ #e3e3e3 */
	--color-primary-200: 221 221 221; /* ⬅ #dddddd */
	--color-primary-300: 200 200 200; /* ⬅ #c8c8c8 */
	--color-primary-400: 158 158 158; /* ⬅ #9e9e9e */
	--color-primary-500: 117 117 117; /* ⬅ #757575 */
	--color-primary-600: 105 105 105; /* ⬅ #696969 */
	--color-primary-700: 88 88 88; /* ⬅ #585858 */
	--color-primary-800: 70 70 70; /* ⬅ #464646 */
	--color-primary-900: 57 57 57; /* ⬅ #393939 */
	/* secondary | #090909 */
	--color-secondary-50: 218 218 218; /* ⬅ #dadada */
	--color-secondary-100: 206 206 206; /* ⬅ #cecece */
	--color-secondary-200: 194 194 194; /* ⬅ #c2c2c2 */
	--color-secondary-300: 157 157 157; /* ⬅ #9d9d9d */
	--color-secondary-400: 83 83 83; /* ⬅ #535353 */
	--color-secondary-500: 14 14 14; /* ⬅ #090909 */
	--color-secondary-600: 8 8 8; /* ⬅ #080808 */
	--color-secondary-700: 7 7 7; /* ⬅ #070707 */
	--color-secondary-800: 5 5 5; /* ⬅ #050505 */
	--color-secondary-900: 4 4 4; /* ⬅ #040404 */
	/* tertiary | #ffffff */
	--color-tertiary-50: 255 255 255; /* ⬅ #ffffff */
	--color-tertiary-100: 255 255 255; /* ⬅ #ffffff */
	--color-tertiary-200: 255 255 255; /* ⬅ #ffffff */
	--color-tertiary-300: 255 255 255; /* ⬅ #ffffff */
	--color-tertiary-400: 255 255 255; /* ⬅ #ffffff */
	--color-tertiary-500: 255 255 255; /* ⬅ #ffffff */
	--color-tertiary-600: 230 230 230; /* ⬅ #e6e6e6 */
	--color-tertiary-700: 191 191 191; /* ⬅ #bfbfbf */
	--color-tertiary-800: 153 153 153; /* ⬅ #999999 */
	--color-tertiary-900: 125 125 125; /* ⬅ #7d7d7d */
	/* success | #24bc36 */
	--color-success-50: 222 245 225; /* ⬅ #def5e1 */
	--color-success-100: 211 242 215; /* ⬅ #d3f2d7 */
	--color-success-200: 200 238 205; /* ⬅ #c8eecd */
	--color-success-300: 167 228 175; /* ⬅ #a7e4af */
	--color-success-400: 102 208 114; /* ⬅ #66d072 */
	--color-success-500: 36 188 54; /* ⬅ #24bc36 */
	--color-success-600: 32 169 49; /* ⬅ #20a931 */
	--color-success-700: 27 141 41; /* ⬅ #1b8d29 */
	--color-success-800: 22 113 32; /* ⬅ #167120 */
	--color-success-900: 18 92 26; /* ⬅ #125c1a */
	/* warning | #ffda1f */
	--color-warning-50: 255 249 221; /* ⬅ #fff9dd */
	--color-warning-100: 255 248 210; /* ⬅ #fff8d2 */
	--color-warning-200: 255 246 199; /* ⬅ #fff6c7 */
	--color-warning-300: 255 240 165; /* ⬅ #fff0a5 */
	--color-warning-400: 255 229 98; /* ⬅ #ffe562 */
	--color-warning-500: 255 218 31; /* ⬅ #ffda1f */
	--color-warning-600: 230 196 28; /* ⬅ #e6c41c */
	--color-warning-700: 191 164 23; /* ⬅ #bfa417 */
	--color-warning-800: 153 131 19; /* ⬅ #998313 */
	--color-warning-900: 125 107 15; /* ⬅ #7d6b0f */
	/* error | #cc0000 */
	--color-error-50: 247 217 217; /* ⬅ #f7d9d9 */
	--color-error-100: 245 204 204; /* ⬅ #f5cccc */
	--color-error-200: 242 191 191; /* ⬅ #f2bfbf */
	--color-error-300: 235 153 153; /* ⬅ #eb9999 */
	--color-error-400: 219 77 77; /* ⬅ #db4d4d */
	--color-error-500: 204 0 0; /* ⬅ #cc0000 */
	--color-error-600: 184 0 0; /* ⬅ #b80000 */
	--color-error-700: 153 0 0; /* ⬅ #990000 */
	--color-error-800: 122 0 0; /* ⬅ #7a0000 */
	--color-error-900: 100 0 0; /* ⬅ #640000 */
	/* surface | #050505 */
	--color-surface-50: 218 218 218; /* ⬅ #dadada */
	--color-surface-100: 205 205 205; /* ⬅ #cdcdcd */
	--color-surface-200: 193 193 193; /* ⬅ #c1c1c1 */
	--color-surface-300: 155 155 155; /* ⬅ #9b9b9b */
	--color-surface-400: 80 80 80; /* ⬅ #505050 */
	--color-surface-500: 5 5 5; /* ⬅ #050505 */
	--color-surface-600: 5 5 5; /* ⬅ #050505 */
	--color-surface-700: 4 4 4; /* ⬅ #040404 */
	--color-surface-800: 3 3 3; /* ⬅ #030303 */
	--color-surface-900: 2 2 2; /* ⬅ #020202 */
	
	.swiper-button-prev {
		color: red; 
	}
	
	.swiper-button-next {
		color: #000; 
	}

}